@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-MediumItalic.eot');
    src: url('NeueMontreal-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('NeueMontreal-MediumItalic.woff') format('woff'),
        url('NeueMontreal-MediumItalic.ttf') format('truetype'),
        url('NeueMontreal-MediumItalic.svg#NeueMontreal-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-BoldItalic.eot');
    src: url('NeueMontreal-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('NeueMontreal-BoldItalic.woff') format('woff'),
        url('NeueMontreal-BoldItalic.ttf') format('truetype'),
        url('NeueMontreal-BoldItalic.svg#NeueMontreal-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Regular.eot');
    src: url('NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff'),
        url('NeueMontreal-Regular.ttf') format('truetype'),
        url('NeueMontreal-Regular.svg#NeueMontreal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Bold.eot');
    src: url('NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueMontreal-Bold.woff2') format('woff2'),
        url('NeueMontreal-Bold.woff') format('woff'),
        url('NeueMontreal-Bold.ttf') format('truetype'),
        url('NeueMontreal-Bold.svg#NeueMontreal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-LightItalic.eot');
    src: url('NeueMontreal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueMontreal-LightItalic.woff2') format('woff2'),
        url('NeueMontreal-LightItalic.woff') format('woff'),
        url('NeueMontreal-LightItalic.ttf') format('truetype'),
        url('NeueMontreal-LightItalic.svg#NeueMontreal-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Light.eot');
    src: url('NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('NeueMontreal-Light.woff2') format('woff2'),
        url('NeueMontreal-Light.woff') format('woff'),
        url('NeueMontreal-Light.ttf') format('truetype'),
        url('NeueMontreal-Light.svg#NeueMontreal-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Italic.eot');
    src: url('NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
        url('NeueMontreal-Italic.woff2') format('woff2'),
        url('NeueMontreal-Italic.woff') format('woff'),
        url('NeueMontreal-Italic.ttf') format('truetype'),
        url('NeueMontreal-Italic.svg#NeueMontreal-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Medium.eot');
    src: url('NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeueMontreal-Medium.woff2') format('woff2'),
        url('NeueMontreal-Medium.woff') format('woff'),
        url('NeueMontreal-Medium.ttf') format('truetype'),
        url('NeueMontreal-Medium.svg#NeueMontreal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

