@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
    .c-shopad-shopad{
        width: 100%;
        height: 100vh;
        max-width: 736px;
        height: 400px;
        margin: 0;
        background-repeat: no-repeat;
        box-sizing: initial;
        position: relative;
    }

    .c-shopad-shopad *{
        font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .c-shopad-shopad *{
        box-sizing: initial;
    }

    .c-shopad-shopad img{
        max-width: 100%;
    }

    .c-shopad-phone a{
        text-decoration: none;
        color: #ffffff;
    }

    .c-shopad-phone input{
        display: none;
    }

    .c-shopad-icon i{
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: #c8f482;
        display: block;
        margin: 2px;
        -webkit-transition: all 220ms cubic-toddy-bezier(0.45, -0.83, 0.8, 1.99);
        -moz-transition: all 220ms cubic-toddy-bezier(0.45, -0.83, 0.8, 1.99);
        -ms-transition: all 220ms cubic-toddy-bezier(0.45, -0.83, 0.8, 1.99);
        -o-transition: all 220ms cubic-toddy-bezier(0.45, -0.83, 0.8, 1.99);
        transition: all 220ms cubic-toddy-bezier(0.45, -0.83, 0.8, 1.99);
    }

    .c-shopad-phone:not(:hover) .c-shopad-line .c-shopad-icon i{
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }

    .c-shopad-product-box{
        width: 100%;
        margin: 0;
        height: 260px;
    }

    .c-shopad-btn{
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
    }

    .c-shopad-btn-cta{
        background-color: #102ed6;
        color: #ffffff;
        font-weight: 600;
        font-size: 15px;
        padding: 15px 30px;
        border-radius: 30px;
        margin: 20px auto 0;
        display: block;
        width: 100px;
        text-align: center;
        text-decoration: none;
    }

    .hold-shopad.hold .cta,
    .hold-shopad.hold .disclaimer,
    #sback_ads_shopad-_logo,
    .leadFormshopad-{
        display: none !important;
        visibility: hidden !important;;
        opacity: 0 !important;;
    }

    .hold-shopad.hold > .offer-wrapper{
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .hold-shopad.hold .text-block{
        width: 100%;
        padding: 0;
    }

    .c-shopad-header {
        width: 100%;
        padding-top: 5px;
        text-align: center;
    }

    .c-shopad-images img{
        display: inline-block;
    }

    .c-shopad-left,
    .c-shopad-right{
        font-size: 28px;
        color: #ff1991;
        position: absolute;
        bottom: 180px;
    }

    .c-shopad-left{
        left: 40px;
    }

    .c-shopad-right{
        left: 350px;
    }

    .c-shopad-btn-accept,
    .c-shopad-btn-decline{
        margin-top: 5px;
        background-color: transparent;
        display: block;
        color: #333333;
        font-weight: 500;
        position: relative;
        padding: 0;
        padding-left: 16px;
        display: block;
        cursor: pointer;
        margin-left: 25px;
    }

    .c-shopad-btn-accept i,
    .c-shopad-btn-decline i{
        position: absolute;
        left: 0;
        top: 1px;
        width: 8px;
        height: 8px;
        border: solid 2px #7e7e7e;
        border-radius: 100%;
    }

    .c-shopad-btn-accept i:before,
    .c-shopad-btn-decline i:before{
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 2px;
        background-color: #7e7e7e;
        border-radius: 100%;
    }

    .c-shopad-btn-accept:not(:hover) i:before,
    .c-shopad-btn-decline:not(:hover) i:before{
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }

    .c-shopad-btn-accept:hover,
    .c-shopad-btn-decline:hover{
        font-weight: bold;
    }

    .c-shopad-btn-accept{
        font-size: 13px;
        border-radius: 5px;
        text-decoration: none;
    }

    .c-shopad-btn-decline{
        font-size: 13px;
    }

    .c-shopad-check sup{
        font-size: 14px;
        color: #AAAAAA;
    }

    .c-shopad-check-t label{
        font-size: 14px;
        color: #1a457f;
        cursor: pointer;
    }

    .c-shopad-header__img{
        display: block;
    }

    .c-shopad-header{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f4d7d+0,2d6888+100 */
        background: rgb(31,77,125); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(31,77,125,1) 0%, rgba(45,104,136,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(31,77,125,1) 0%,rgba(45,104,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(31,77,125,1) 0%,rgba(45,104,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f4d7d', endColorstr='#2d6888',GradientType=0 ); /* IE6-9 */
        padding: 10px 15px;
        box-sizing: border-box;

    }

    .c-shopad-grid{
        font-size: 0;
        padding: 0 0;
    }

    .c-shopad__columns{
        display: inline-block;
        font-size: initial;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }

    .c-shopad__columns-large{
        width: 60%;
    }

    .c-shopad__columns:not(.c-shopad__columns-large){
        width: 40%;
    }

    .c-shopad__columns .c-shopad-brand{
        width: 70px;
    }

    .c-shopad__columns img{
        display: inline-block;
    }

    .c-shopad-icon-I{
        width: 30px;
    }

    .c-shopad-icon-II{
        width: 100px;
    }

    .c-shopad-icon-III{
        height: 60px;
    }

    .c-shopad-header__brand{
        width: 150px;
        display: inline-block;
    }

    .c-shopad-title{
        font-weight: 100;
        text-align: center;
        color: #63b8b3;
        margin: 0;
    }

    .c-shopad-header{
        color: #ffffff;
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 0 !important;
    }

    .c-shopad-header b{
        font-weight: 500;
    }

    .c-shopad-figure {
        line-height: 70px;
    }

    .c-shopad-grid__header{
        padding: 0 25px;
    }

    .c-shopad-h2{
        font-size: 24px;
        font-weight: 600 !important;
        color: #7e7e7e;
        margin-bottom: 0 !important;
        text-align: left;
    }

    .c-shopad-h2 small{
        font-weight: 500;
        font-size: 18px;
        display: block;
        margin: 0;
        text-align: left;
    }

    .c-shopad-text{
        margin: 0;
        font-size: 14px;
    }

    .c-shopad-grid__header{
        width: 100%;
    }

    .c-shopad-home{
        text-align: center;
    }

    .c-shopad-dd-text {
        display: block;
        font-size: 10px;
        margin-top: 5px;
        text-align: left;
        padding: 5px 15px 0;
    }

    .c-title-thanks{
        text-align: center;
        font-weight: 400;
        font-size: 24px;
    }

    .c-shopad-btn,
    .c-shopad-btn i:before{
        -webkit-transition: all cubic-bezier(.500, -0.420, .600, 1.9) 220ms;
        -moz-transition: all cubic-bezier(.500, -0.420, .600, 1.9) 220ms;
        -ms-transition: all cubic-bezier(.500, -0.420, .600, 1.9) 220ms;
        -o-transition: all cubic-bezier(.500, -0.420, .600, 1.9) 220ms;
        transition: all cubic-bezier(.500, -0.420, .600, 1.9) 220ms;
    }

    .c-shopad-form__form{
        padding: 5px 25px;
        font-size: 0;
        text-align: center;
    }

    .c-shopad-inputs{
        display: inline-block;
        vertical-align: middle;
        width: 44%;
        margin: 0 10px;
        text-align: left;
    }

    .c-shopad-input{
        width: 100%;
        border-radius: 4px;
        font-size: 13px;
        line-height: 24px;
        padding: 2px 15px 10px;
        border: solid 1px #7e7e7e;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    
    .c-shopad-inputs__header{
        text-align: left;
        font-size: 13px;
        margin-bottom: 4px;
        color: #7e7e7e;
    }

    .c-shopad-checkbox{
        display: inline-block;
        width: 35%;
        margin-left: 5%;
    }

    .c-shopad-label{
        font-size: 13px;
        color: #7e7e7e;
        cursor: pointer;
    }

    .c-shopad-input-small{
        width: 46%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4%;
    }

    .c-shopad-btn-send{
        display: block;
        width: 50%;
        background-color: #e90000;
        margin-left: 50%;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        padding: 5px 0;
        border-radius: 4px;
        position: relative;
        right: -14px;
        margin-bottom: 30px;
    }

    .c-shopad-accept{
        text-align: right;
        display: inline-block;
        padding-top: 30px;
    }

    .c-shopad-h2 small b{
        font-size: 28px;
        margin-top: 10px;
        display: inline-block;
    }

    .c-shopad-thanks{
        padding-top: 70px;
    }