@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('HelveticaNeue-CondensedBold.eot');
  src: url('HelveticaNeue-CondensedBold.woff2') format('woff2'),
       url('HelveticaNeue-CondensedBold.woff') format('woff'),
       url('HelveticaNeue-CondensedBold.ttf') format('truetype'),
       url('HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg'),
       url('HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

