@font-face {
    font-family: 'Big John';
    src: url('BigJohn.eot');
    src: url('BigJohn.eot?#iefix') format('embedded-opentype'),
        url('BigJohn.woff2') format('woff2'),
        url('BigJohn.woff') format('woff'),
        url('BigJohn.ttf') format('truetype'),
        url('BigJohn.svg#BigJohn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Slim Joe';
    src: url('SlimJoe.eot');
    src: url('SlimJoe.eot?#iefix') format('embedded-opentype'),
        url('SlimJoe.woff2') format('woff2'),
        url('SlimJoe.woff') format('woff'),
        url('SlimJoe.ttf') format('truetype'),
        url('SlimJoe.svg#SlimJoe') format('svg');
    font-weight: normal;
    font-style: normal;
}

