<!doctype html>
<html class="no-js" lang="pt-br">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{{overlay_social_rec.title}}</title>

		<link href="https://fonts.googleapis.com/css?family=Hind:400|Open+Sans:400" rel="stylesheet">

		<link href="https://cdn.jsdelivr.net/g/jquery.slick@1.6.0(slick.css+slick-theme.css)" rel="stylesheet" type="text/css">
		
		<link href="https://shopbackbr.github.io/ShopTemplate/assets/fonts/shopback-overlay-arrow/font.css" rel="stylesheet" type="text/css">
		
		<link href="https://shopbackbr.github.io/ShopTemplate/assets/fonts/shopback-facebook-icon-font/sb-fb-icon.css" rel="stylesheet" type="text/css">

		<link href="https://shopbackbr.github.io/ShopTemplate/overlay/social-recomendacao/builder/html_overlay_social_recomendacao/assets/css/app.css" rel="stylesheet" type="text/css">
		<!-- <link rel="stylesheet" type="text/css" href="assets/css/app.css"> -->
		<!-- <style> -->
	</head>

	<body class="row shopback_overlay">
			

		<section class="small-15 medium-15 large-15 shopback_overlay_popup sb_o_s_r columns">

			{{> header-logo-text-center}}
		
			{{> body}}
			
			{{> footer-powered-by-shopback}}

		</section>

		<!-- Footer Scripts -->
		{{> footer-scripts}}
	</body>

</html>