@font-face {
    font-family: 'Jaapokki subtract';
    src: url('Jaapokkisubtract-Regular.eot');
    src: url('Jaapokkisubtract-Regular.eot?#iefix') format('embedded-opentype'),
        url('Jaapokkisubtract-Regular.woff2') format('woff2'),
        url('Jaapokkisubtract-Regular.woff') format('woff'),
        url('Jaapokkisubtract-Regular.ttf') format('truetype'),
        url('Jaapokkisubtract-Regular.svg#Jaapokkisubtract-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jaapokki';
    src: url('Jaapokki-Regular.eot');
    src: url('Jaapokki-Regular.eot?#iefix') format('embedded-opentype'),
        url('Jaapokki-Regular.woff2') format('woff2'),
        url('Jaapokki-Regular.woff') format('woff'),
        url('Jaapokki-Regular.ttf') format('truetype'),
        url('Jaapokki-Regular.svg#Jaapokki-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jaapokki enchance';
    src: url('Jaapokkienchance-Regular.eot');
    src: url('Jaapokkienchance-Regular.eot?#iefix') format('embedded-opentype'),
        url('Jaapokkienchance-Regular.woff2') format('woff2'),
        url('Jaapokkienchance-Regular.woff') format('woff'),
        url('Jaapokkienchance-Regular.ttf') format('truetype'),
        url('Jaapokkienchance-Regular.svg#Jaapokkienchance-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

