@font-face {
    font-family: 'adlery_proregular';
    src: url('adlery-pro-trial-webfont.woff2') format('woff2'),
         url('adlery-pro-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'adlery_problockletter';
    src: url('adlery-pro-blockletter-trial-webfont.woff2') format('woff2'),
         url('adlery-pro-blockletter-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}