<row>
	<columns small="12" large="12" no-expander>

		<a href="http://hotelvaledabarra.com.br/" target="_blank" alt="Hotel Est&acirc;ncia Vale da Barra" title="Hotel Est&acirc;ncia Vale da Barra">
			<center>
				<img border="0" src="https://app.shoptarget.com.br/uploads/imagens/hotel-vale-da-barra/3871/bg-vale-da-barra.jpg" alt="Hotel Est&acirc;ncia Vale da Barra" title="Hotel Est&acirc;ncia Vale da Barra" class="float-center" width="680" height="70">
			</center>
		</a>

		<spacer size="5"></spacer>
		<div style="font-family: sans-serif; text-align: center;" class="sb_link_pattern">
            Caso não queira receber mais ofertas, <a href="{optout}" target="_blank" style="margin: 0; outline: none; padding: 0; text-align: center; text-decoration: none;">clique aqui</a>.
        </div>
		<spacer size="5"></spacer>

	</columns>
</row>
