<spacer size="5"></spacer>
<div style="font-family: sans-serif; text-align: center;" class="sb_link_pattern">
    Veja esse email com imagens, <a href="{webversion}" target="_blank" style="margin: 0; outline: none; padding: 0; text-decoration: none;">clicando aqui</a>.
</div>
<spacer size="5"></spacer>
<row>
	<columns small="12" large="12" no-expander>
			
		<a href="http://hotelvaledabarra.com.br/" target="_blank" alt="Hotel Est&acirc;ncia Vale da Barra" title="Hotel Est&acirc;ncia Vale da Barra">
			<center>
				<img border="0" src="https://app.shoptarget.com.br/uploads/imagens/hotel-vale-da-barra/3871/hotel-vale-da-barra-header.gif" alt="Hotel Est&acirc;ncia Vale da Barra" title="Hotel Est&acirc;ncia Vale da Barra" class="float-center" width="680" height="100">
			</center>
		</a>

	</columns>
</row>
