<span class="shopback-conteudo-text">

	<container>

		<row>

			<columns large="1"></columns>
			<columns large="10" small="12">

				<spacer size="25"></spacer>

				<p class="text-center texto tamanho-2 preto">Ol&aacute;, sou a Cl&aacute;udia propriet&aacute;ria do<br> Hotel Fazenda Vale da Barra. Notei que voc&ecirc; visitou nosso<br> site e eu queria saber como posso ajudar voc&ecirc;.</p>

				<spacer size="35"></spacer>
 
				<p class="text-center texto tamanho-2 preto">Terei imenso prazer em receber voc&ecirc; e sua fam&iacute;lia em nosso<br> cantinho que fica a 100km de S&atilde;o Paulo, na cidade de<br> Sales&oacute;polis (regi&atilde;o da nascente do rio Tiet&ecirc;).</p>

				<spacer size="35"></spacer>
				 
				<p class="text-center texto tamanho-2 preto">Caso voc&ecirc; tenha interesse em saber mais sobre nossos pacotes<br> especiais para o feriado da semana Santa/P&aacute;scoa ou<br> Tiradentes (21 de abril), por favor, me ligue <b>(11) 4280-7960</b>.</p>

				<spacer size="50"></spacer>

			</columns>
			<columns large="1"></columns>

		</row>

	</container>

</span>
