@font-face {
    font-family: 'Dancing Script OT';
    src: url('DancingScriptOT.eot');
    src: url('DancingScriptOT.eot?#iefix') format('embedded-opentype'),
        url('DancingScriptOT.woff2') format('woff2'),
        url('DancingScriptOT.woff') format('woff'),
        url('DancingScriptOT.ttf') format('truetype'),
        url('DancingScriptOT.svg#DancingScriptOT') format('svg');
    font-weight: normal;
    font-style: normal;
}

