@font-face {
  font-family: 'Gotham Rounded';
  src: url('GothamRounded-Medium.eot');
  src: url('GothamRounded-Medium.woff2') format('woff2'),
       url('GothamRounded-Medium.woff') format('woff'),
       url('GothamRounded-Medium.ttf') format('truetype'),
       url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg'),
       url('GothamRounded-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('GothamRounded-Light.eot');
  src: url('GothamRounded-Light.woff2') format('woff2'),
       url('GothamRounded-Light.woff') format('woff'),
       url('GothamRounded-Light.ttf') format('truetype'),
       url('GothamRounded-Light.svg#GothamRounded-Light') format('svg'),
       url('GothamRounded-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('GothamRounded-Bold.eot');
  src: url('GothamRounded-Bold.woff2') format('woff2'),
       url('GothamRounded-Bold.woff') format('woff'),
       url('GothamRounded-Bold.ttf') format('truetype'),
       url('GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'),
       url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

