@font-face {
  font-family: 'AlphaFridgeMagnets';
  src: url('AlphaFridgeMagnets.eot');
  src: url('AlphaFridgeMagnets.woff2') format('woff2'),
       url('AlphaFridgeMagnets.woff') format('woff'),
       url('AlphaFridgeMagnets.ttf') format('truetype'),
       url('AlphaFridgeMagnets.svg#AlphaFridgeMagnets') format('svg'),
       url('AlphaFridgeMagnets.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlphaFridgeMagnetsAllCap';
  src: url('AlphaFridgeMagnetsAllCap.woff') format('woff'),
       url('AlphaFridgeMagnetsAllCap.ttf') format('truetype'),
       url('AlphaFridgeMagnetsAllCap.svg#AlphaFridgeMagnetsAllCap') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlphaFridgeMagnetsAllCaps';
  src: url('AlphaFridgeMagnetsAllCaps.eot');
  src: url('AlphaFridgeMagnetsAllCaps.woff2') format('woff2'),
       url('AlphaFridgeMagnetsAllCaps.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

