@font-face {
    font-family: 'Droid Serif';
    src: url('DroidSerif-Bold.eot');
    src: url('DroidSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('DroidSerif-Bold.woff2') format('woff2'),
        url('DroidSerif-Bold.woff') format('woff'),
        url('DroidSerif-Bold.ttf') format('truetype'),
        url('DroidSerif-Bold.svg#DroidSerif-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('DroidSerif.eot');
    src: url('DroidSerif.eot?#iefix') format('embedded-opentype'),
        url('DroidSerif.woff2') format('woff2'),
        url('DroidSerif.woff') format('woff'),
        url('DroidSerif.ttf') format('truetype'),
        url('DroidSerif.svg#DroidSerif') format('svg');
    font-weight: normal;
    font-style: normal;
}

