@font-face {
    font-family: 'Sagona Book DEMO';
    src: url('Sagona-BookDEMO.eot');
    src: url('Sagona-BookDEMO.eot?#iefix') format('embedded-opentype'),
        url('Sagona-BookDEMO.woff2') format('woff2'),
        url('Sagona-BookDEMO.woff') format('woff'),
        url('Sagona-BookDEMO.ttf') format('truetype'),
        url('Sagona-BookDEMO.svg#Sagona-BookDEMO') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sagona Book DEMO';
    src: url('Sagona-BookItalicDEMO.eot');
    src: url('Sagona-BookItalicDEMO.eot?#iefix') format('embedded-opentype'),
        url('Sagona-BookItalicDEMO.woff2') format('woff2'),
        url('Sagona-BookItalicDEMO.woff') format('woff'),
        url('Sagona-BookItalicDEMO.ttf') format('truetype'),
        url('Sagona-BookItalicDEMO.svg#Sagona-BookItalicDEMO') format('svg');
    font-weight: normal;
    font-style: italic;
}

