@font-face {
    font-family: 'Benton Sans';
    src: url('BentonSans-Regular.eot');
    src: url('BentonSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('BentonSans-Regular.woff2') format('woff2'),
        url('BentonSans-Regular.woff') format('woff'),
        url('BentonSans-Regular.ttf') format('truetype'),
        url('BentonSans-Regular.svg#BentonSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('BentonSans-Bold.eot');
    src: url('BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('BentonSans-Bold.woff2') format('woff2'),
        url('BentonSans-Bold.woff') format('woff'),
        url('BentonSans-Bold.ttf') format('truetype'),
        url('BentonSans-Bold.svg#BentonSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

