@font-face {
  font-family: 'EstrangeloEdessa';
  src: url('EstrangeloEdessa.svg#EstrangeloEdessa') format('svg'),
       url('EstrangeloEdessa.ttf') format('truetype'),
       url('EstrangeloEdessa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'estre';
  src: url('estre.eot');
  src: url('estre.eot?#iefix') format('embedded-opentype'),
       url('estre.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

