<!-- Buy Button : BEGIN -->
<tr>
	<td style="padding: 0 0 40px 0;">
		<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="300" style="margin: auto">
			<tr>
				<td style="background: #222222; border-radius: 5px; text-align: center;">
					<a href="#" style="background: #222222; border: 15px solid #222222; border-radius: 5px; display: block; font-family: sans-serif; font-size: 22px; line-height: 1.1; text-align: center; text-decoration: none;">
						<span style="color:#ffffff;" class="button-link">FINALIZAR COMPRA</span>
					</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
<!-- Buy Button : END -->