@font-face {
    font-family: 'Zurich-cd';
    src: url('zurchlc-webfont.woff2') format('woff2'),
         url('zurchlc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}