<!-- CARROSEL ITEM TEMPLATE -->
<div id="item_template" class="item sb_overlay_carrosel_item" style="display: none;">
	<div class="item_border sb_overlay_carrosel_item_content">
		
		<div class="sb_o_c_product_image">
			<img data-lazy="{image}" alt="{title}" title="{title}" />
		</div>
		
		<p class="texto font_2 tamanho_7 tamanho_m_7 regular caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">
			{{overlay_social_rec.content.recomendacao.carrosel_item_template.title}}
		</p>
		
		<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" data-old-price="{old_price}">
			{{overlay_social_rec.content.recomendacao.carrosel_item_template.old_price}}
		</p>
		
		<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price" data-price="{price}">
			{{overlay_social_rec.content.recomendacao.carrosel_item_template.price}}
		</p>
		
		<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="{installments}" installments_price="{installments_price}">
			{{overlay_social_rec.content.recomendacao.carrosel_item_template.installments}}
			{{overlay_social_rec.content.recomendacao.carrosel_item_template.installments_price}}
		</p>

		<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_2 sb_o_c_product_btn">
			{{overlay_social_rec.content.recomendacao.carrosel_item_template.btn}}
		</p>

	</div>
</div>
<!-- [end] CARROSEL ITEM TEMPLATE -->