			<div class="item sb_overlay_carrosel_item">
				<div class="item_border sb_overlay_carrosel_item_content">
					<div class="sb_o_c_product_image"><img src="http://lojarafarillo.vteximg.com.br/arquivos/ids/157255_2"></div>
					<p class="texto font_2 tamanho_8 tamanho_m_8 bold caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">Sapato Las Vegas - 79155-00</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" old-price="199,90">de R$ 199,90</p>
					<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price">Por: R$ 199,90</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="6" installments_price="33,31">Ou <span>6x</span> de <span>33,31</span> no cartão</p>
					<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_1 sb_o_c_product_btn">Comprar</p>
				</div>
			</div>
			

			<div class="item sb_overlay_carrosel_item">
				<div class="item_border sb_overlay_carrosel_item_content">
					<div class="sb_o_c_product_image"><img src="http://lojarafarillo.vteximg.com.br/arquivos/ids/157255_2"></div>
					<p class="texto font_2 tamanho_8 tamanho_m_8 bold caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">Sapato Las Vegas 79207-00</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" old-price="199,90">de R$ 199,90</p>
					<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price">Por: R$ 199,90</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="6" installments_price="33,31">Ou <span>6x</span> de <span>33,31</span> no cartão</p>
					<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_1 sb_o_c_product_btn">Comprar</p>
				</div>
			</div>
			

			<div class="item sb_overlay_carrosel_item">
				<div class="item_border sb_overlay_carrosel_item_content">
					<div class="sb_o_c_product_image"><img src="http://lojarafarillo.vteximg.com.br/arquivos/ids/157177_2"></div>
					<p class="texto font_2 tamanho_8 tamanho_m_8 bold caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">Sapato Las Vegas - 79237-00</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" old-price="209,90">de R$ 209,90</p>
					<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price">Por: R$ 209,90</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="6" installments_price="34,98">Ou <span>6x</span> de <span>34,98</span> no cartão</p>
					<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_1 sb_o_c_product_btn">Comprar</p>
				</div>
			</div>
			

			<div class="item sb_overlay_carrosel_item">
				<div class="item_border sb_overlay_carrosel_item_content">
					<div class="sb_o_c_product_image"><img src="http://lojarafarillo.vteximg.com.br/arquivos/ids/155546_2"></div>
					<p class="texto font_2 tamanho_8 tamanho_m_8 bold caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">Sapato Las Vegas - 79101-02</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" old-price="209,90">de R$ 209,90</p>
					<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price">Por: R$ 209,90</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="6" installments_price="34,98">Ou <span>6x</span> de <span>34,98</span> no cartão</p>
					<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_1 sb_o_c_product_btn">Comprar</p>
				</div>
			</div>
			

			<div class="item sb_overlay_carrosel_item">
				<div class="item_border sb_overlay_carrosel_item_content">
					<div class="sb_o_c_product_image"><img src="http://lojarafarillo.vteximg.com.br/arquivos/ids/156115_2"></div>
					<p class="texto font_2 tamanho_8 tamanho_m_8 bold caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">Sapato Las Vegas - 79196-00</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" old-price="189,90">de R$ 189,90</p>
					<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price">Por: R$ 189,90</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="6" installments_price="31,65">Ou <span>6x</span> de <span>31,65</span> no cartão</p>
					<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_1 sb_o_c_product_btn">Comprar</p>
				</div>
			</div>
			

			<div class="item sb_overlay_carrosel_item">
				<div class="item_border sb_overlay_carrosel_item_content">
					<div class="sb_o_c_product_image"><img src="http://lojarafarillo.vteximg.com.br/arquivos/ids/155695_2"></div>
					<p class="texto font_2 tamanho_8 tamanho_m_8 bold caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">Sapato Las Vegas - 79185-01</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" old-price="214,90">de R$ 214,90</p>
					<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price">Por: R$ 214,90</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="6" installments_price="35,81">Ou <span>6x</span> de <span>35,81</span> no cartão</p>
					<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_1 sb_o_c_product_btn">Comprar</p>
				</div>
			</div>
			

			<div class="item sb_overlay_carrosel_item">
				<div class="item_border sb_overlay_carrosel_item_content">
					<div class="sb_o_c_product_image"><img src="http://lojarafarillo.vteximg.com.br/arquivos/ids/156115_2"></div>
					<p class="texto font_2 tamanho_8 tamanho_m_8 bold caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">Sapato Las Vegas - 79196-00</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" old-price="189,90">de R$ 189,90</p>
					<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price">Por: R$ 189,90</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="6" installments_price="31,65">Ou <span>6x</span> de <span>31,65</span> no cartão</p>
					<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_1 sb_o_c_product_btn">Comprar</p>
				</div>
			</div>
			

			<div class="item sb_overlay_carrosel_item">
				<div class="item_border sb_overlay_carrosel_item_content">
					<div class="sb_o_c_product_image"><img src="http://lojarafarillo.vteximg.com.br/arquivos/ids/155695_2"></div>
					<p class="texto font_2 tamanho_8 tamanho_m_8 bold caixa-alta no-decoration link text-center cor_1 sb_o_c_product_name">Sapato Las Vegas - 79185-01</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_oldprice" old-price="214,90">de R$ 214,90</p>
					<p class="texto font_2 tamanho_6 tamanho_m_6 bold link text-center cor_1 sb_o_c_product_price">Por: R$ 214,90</p>
					<p class="texto font_2 tamanho_9 tamanho_m_9 regular link text-center cor_1 sb_o_c_product_instalments" installments="6" installments_price="35,81">Ou <span>6x</span> de <span>35,81</span> no cartão</p>
					<p class="texto font_2 tamanho_7 bold text-center caixa-alta link btn_7 bg_cor_4 cor_2 radius_1 sb_o_c_product_btn">Comprar</p>
				</div>
			</div>
