<!-- RECOMENDAÇÃO - CARROSEL -->
<div class="row no-margin recomendacao">
	<div class="small-1 medium-1 large-1 columns no-padding"> &nbsp; </div>
	<div class="small-14 medium-14 large-14 columns no-padding">

 		<div class="carousel" data-slick="{&quot;infinite&quot;: false, &quot;dots&quot;: false, &quot;arrows&quot;: true, &quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 3}">
			<div class="sb_loader_content">
				<div class="sb_loader"></div>
			</div>
		</div>

 	</div>
	<div class="small-1 medium-1 large-1 columns no-padding"> &nbsp; </div>
</div>
<!-- [end] RECOMENDAÇÃO - CARROSEL -->