body.shopback_overlay {

	// NO PADDING
	.no-padding {
		padding-left: initial;
		padding-right: initial;
	}
	//[end] NO PADDING

	// NO MARGIN
	.no-margin {
		margin-left: initial;
		margin-right: initial;
	}
	//[end] NO MARGIN

}