<header class="small-16 large-16 large-collapse no-padding columns sb_overlay_header">

	<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		<span aria-hidden="true">&times;</span>
	</button>


	<div class="logo">
		<img src="{{overlay_social_rec.header.img}}" alt="{{overlay_social_rec.header.alttext}}" title="{{overlay_social_rec.header.alttext}}" class="float-center">
	</div>

	<center>
		<h1 class="texto font_1 tamanho_1 tamanho_m_2 regular cor_1 float-center mobile-side-spacing">{{overlay_social_rec.header.text}}</h1>
	</center>
	
</header>
