@font-face {
  font-family: 'Tahoma';
  src: url('Tahoma.eot');
  src: url('Tahoma.woff2') format('woff2'),
       url('Tahoma.woff') format('woff'),
       url('Tahoma.ttf') format('truetype'),
       url('Tahoma.svg#Tahoma') format('svg'),
       url('Tahoma.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma';
  src: url('Tahoma Bold.eot');
  src: url('Tahoma Bold.woff2') format('woff2'),
       url('Tahoma Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma';
  src: url('Tahoma-Bold.woff') format('woff'),
       url('Tahoma-Bold.ttf') format('truetype'),
       url('Tahoma-Bold.svg#Tahoma-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}



